*.log
*.pyc
out.*
tmp.*
tmp-*
Makefile
/tmp/*
*.dSYM
*.o
*.dylib
*.so
*.svg
*.cut
src/ctrl-cut/libctrl-cut.so*
src/gui/gui
.gdb_history
.settings/
test.csv
test.html
full.csv
full.html
gmon.out
gui.tmp
src/pclint/pclint
src/gui/gui.app
src/render2cut/render2cut
src/cut2epilog/cut2epilog

